---
import ContactCardsList from '@/components/ContactCardsList.astro';
import CTAButton from '@/components/CTAButton.astro';
import MapIframe from '@/components/MapIframe.astro';

const { title, description, contactCards, cta } = Astro.props;
---

<section class="bg-background relative" id="contact-us-section">
  <div class="mx-auto w-[80vw] max-w-7xl rounded-2xl px-4 py-4 sm:px-6 lg:px-8 lg:py-8">
    <div class="grid grid-cols-1 gap-12 lg:grid-cols-2 lg:items-center">
      <!-- Left col: Persuasive message -->
      <div class="space-y-8">
        <div>
          <h2
            class="text-primary text-3xl font-bold tracking-tight text-balance sm:text-4xl md:text-5xl"
          >
            {title}
          </h2>
          <p class="text-foreground mt-6 text-lg leading-8 text-pretty">
            {description}
          </p>
        </div>
        <div>
          <CTAButton href="/contacto"> {cta} </CTAButton>
        </div>
      </div>

      <!-- Right col: Contact Cards -->
      <ContactCardsList cards={contactCards} />
    </div>
    <!-- Map Section -->
    <div
      class="group mt-16 overflow-hidden rounded-3xl border border-slate-200 bg-slate-100 shadow-inner transition-all duration-500 hover:shadow-lg"
    >
      <MapIframe className={'relative h-72 w-full md:h-80'} />
    </div>
  </div>
</section>
