---
import Breadcrumb from '@/components/Breadcrumb.astro';
import SeoHead from '@/components/SeoHead.astro';
import { clientsMock } from '@/content/clientsMock';
import Layout from '@/layouts/Layout.astro';
import ClientsCards from '@/sections/home/components/ClientsCards.astro';
const SeoContent = {
  title: 'Clientes que confían en nosotros | Lagunas Claras',
  description:
    'Empresas, municipios e instituciones de todo el país que confían en nuestros servicios de mantenimiento de lagos y espejos de agua.',
};
const title = 'Clientes que confían en nosotros';
---

<Layout>
  <SeoHead title={SeoContent.title} description={SeoContent.description} />
  <Fragment slot="main">
    <Breadcrumb items={[{ label: 'Clientes' }]} className={'pt-24 pl-16'} />
    <!-- Section Title -->
    <h2 class="mb-16 pl-16 text-left text-3xl font-bold md:text-5xl">{title}</h2>

    <ClientsCards services={clientsMock} />
  </Fragment>
</Layout>
