---
import ContactForm from '@/components/ContactForm.astro';
import SeoHead from '@/components/SeoHead.astro';
import Layout from '@/layouts/Layout.astro';

const SeoContent = {
  title: 'Contacto | Lagunas Claras',
  description:
    'Contactanos para recibir asesoramiento y presupuestos sin cargo sobre mantenimiento y recuperación de lagos y espejos de agua.',
};
---

<Layout>
  <SeoHead title={SeoContent.title} description={SeoContent.description} />
  <Fragment slot="main">
    <div class="bg-primary/50 mx-auto h-[90vh] max-w-7xl px-4">
      <!-- Header Section -->
      <div class="mb-12 text-center">
        <h1 class="text-primary mb-4 text-4xl font-bold md:text-5xl">Conectate con nosotros</h1>
        <p class="text-muted-foreground mx-auto max-w-2xl text-lg">
          Completá el formulario y nos pondremos en contacto a la brevedad para atender tu consulta
        </p>
      </div>

      <!-- Form Section -->
      <div class="bg-card border-border rounded-2xl border p-6 shadow-xl md:p-10">
        <ContactForm />
      </div>
    </div>
  </Fragment>
</Layout>
