---
import type { NavbarContent } from './types.types';

const content: NavbarContent = {
  brandTitle: 'Lagunas Claras',
  links: [
    { title: 'Home', href: '/' },
    { title: 'Quienes Somos', href: '/quienes-somos' },
    { title: 'Servicios', href: '/servicios' },
    { title: 'Clientes', href: '/clientes' },
    { title: 'Faq', href: '/faq' },
    { title: 'Contacto', href: '/contacto' },
  ],
};

const { brandTitle, links } = content;
---

<!-- TODO: Make hamburguer menu? 
FIXME: Responsive
-->
<nav
  id="navbar"
  class="text-primary-foreground fixed top-0 left-0 z-50 w-full bg-transparent transition-all duration-300"
>
  <div class="mx-auto flex h-20 max-w-7xl items-center justify-between px-4">
    <!-- Logo -->
    <a href="/" class="text-primary flex items-center gap-2 text-lg font-bold">
      <img src="/logo.svg" alt="Lagunas Claras" class="h-6 w-6 min-w-6" />
      <span id="nav-title" class="text-primary-foreground font-semibold">{brandTitle}</span>
    </a>

    <!-- Navigation Links -->
    <ul class="flex gap-6 text-base font-medium">
      {
        links.map((link) => (
          <li class="group transition-all duration-300 hover:translate-y-2 hover:scale-110">
            <a href={link.href} class="nav-link">
              {link.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<script>
  const navbar = document.getElementById('navbar');
  const navLinks = document.querySelectorAll('.nav-link');
  const navTitle = document.getElementById('nav-title');
  const isHomePage = window.location.pathname === '/';
  const updateNavbar = () => {
    if (window.scrollY === 0 && isHomePage) {
      navbar?.classList.remove('bg-background', 'backdrop-blur', 'shadow-md');
      navbar?.classList.add('bg-transparent');
      navLinks.forEach((link) => {
        link?.classList.remove('text-primary');
        link?.classList.add('text-primary-foreground');
      });
      navTitle?.classList.remove('text-primary');
      navTitle?.classList.add('text-primary-foreground');
    } else {
      navbar?.classList.remove('bg-transparent');
      navbar?.classList.add('bg-background', 'backdrop-blur', 'shadow-md');
      navLinks.forEach((link) => {
        link?.classList.remove('text-primary-foreground');
        link?.classList.add('text-primary');
      });
      navTitle?.classList.remove('text-primary-foreground');
      navTitle?.classList.add('text-primary');
    }
  };

  updateNavbar();
  window.addEventListener('scroll', updateNavbar);
</script>
