---
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Lagunas Claras',
  description = 'Mantenimiento y recuperación de lagos, lagunas y espejos de agua',
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/public/logo.svg" />
    <link rel="icon" href="/public/logo.svg" />
  </head>

  <body class="bg-background text-foreground antialiased">
    <header>
      <slot name="header" />
    </header>

    <main id="main-content">
      <slot name="main" />
    </main>

    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>
