---
import Footer from '@/components/footer.astro';
import Navbar from '@/components/navbar/navbar.astro';
import '@/styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Lagunas Claras',
  description = 'Mantenimiento y recuperación de lagos, lagunas y espejos de agua',
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="lagunas claras, mantenimiento lagunas, recuperación lagunas, mantenimiento lagos, recuperación lagos"
    />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="bingbot" content="index, follow" />
    <meta name="yandex" content="index, follow" />

    <link rel="icon" type="image/svg+xml" href="/public/logo.svg" />
    <link rel="icon" href="/public/logo.svg" />
  </head>

  <body class="bg-background text-foreground antialiased">
    <header>
      <Navbar />
    </header>

    <main id="main-content">
      <slot name="main" />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
